body {
    background-color: #f0f0f0; /* Change this to your desired color */
    font-family: Arial, sans-serif; /* Optional: to set a consistent font */
}


h1, h2 {
    color: #333;
    text-align: center;
}

p {
    text-align: left;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
